VITE_SUPABASE_URL=https://erinyjxrfectuepshstg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyaW55anhyZmVjdHVlcHNoc3RnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0Mzg5MzYsImV4cCI6MjEwMDAxNDkzNn0.sg4HbUxK_ac9BM5K_yh7bgy6W25f7W8e4CVa1MjIVKc
